.header{
    width: 100%;
    height: 80px;
    background-color: rgb(63, 111, 184);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-top: 10px;
}

.menu ul{
    display: flex;
}

.menu ul li{
    color: white;
    padding:15px;
    list-style: none;
    margin-right: 15px;
    margin-left: 15px;
}

.menu ul li:hover{
    color: white;
    text-decoration: underline;
}

@media(max-width:414px){
    .header {
        width: 111%;
    }
}

@media(max-width:320px){
    .header {
        width: 121%;
    }
}