@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.title{
    margin-top: 50px;
    text-align: center;
}
.title:hover{
    text-decoration: underline;
}
.containerItem{
    width: 100%;
    height: auto;
    display: flex;
}

.youCanTry{
    width: auto;
    height: auto;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    background-color: cadetblue;
}

::-webkit-scrollbar {
    display: none;  /* Ocultar scroll */
}

@media(max-width:600px){
    .containerItem {
        display: inline-block;
    }
}

@media (max-width:414px) {
    .title {
        width: 111%;
    }
    .containerItem {
        width: 111%;
    }
    .youCanTry {
        width: 111%;
    }
}


@media(max-width:320px){
    .title {
        width: 121%;
    }
    .info {
        width: 86%;
        margin-left: 45px;
    }
}

@media (max-width: 280px){
    .containerItem {
        width: 131%;
    }
    .info {
        margin-left: 25px;
    }
}