.info{
    border: 1px solid black;
    border-radius: 30px;
    width: 45%;
    height: 800px;
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info h1{
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;  
    font-weight: 300;
}

.map{
    width: 100%;
    height: auto;
}

.boton{
    margin-top: 140px;
    width: 100%;
    height: auto;
}

.info button{
    border: 1px solid black;
    background-color: transparent;
    width: 40%;
    height: 60px;
    margin-left: 30%;
    border-radius: 30px;
    font-weight: 900;
}

.info button:hover{
    background-color:rgb(63, 111, 184);
    border: 1px solid rgb(63, 111, 184);
    color: white;
    transition: 550ms;
}

iframe {
    max-width: 100%;
    height: 400px;
}

@media(max-width:1024px){
    .info {
         margin-left: 36px;  
    }
    iframe {
        height: 400px;
    }
}

@media(max-width:768px){
    .info {
        margin-left: 26px;
    }
}

@media(max-width:600px){
    .info {
        width: 75%;
        margin-left: 83px;
    }
}

@media(max-width:540px){
    .info {
        width: 75%;
        margin-left: 59px;
    }
}

@media(max-width:411px){
    .info {
        margin-left: 64px;
    }
}

@media (max-width: 359px){
    .info {
        width: 86%;
        margin-left: 32px;
    }
}

@media(max-width:375px){
    .info {
        margin-left: 52px;
    }
}

@media(max-width:320px){
    .info {
        margin-left: 27px;
    }
}
