.container-banner{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-image: url("../static/Banner.jpg");
}

.banner-search__title{
    padding-top: 120px;
    width: 100%;
    height: auto;
    text-align: center;
}

.banner-search__title h1{
    color: white;
    font-size: 70px;
    font-weight: 400;
}

.container-nav{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    padding-top:20px;
}

.container-nav input{
    width: 75%;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    background: transparent;
    color: white;
    padding: 15px;
}

.form{
    width: 100%;
    margin-top: 50px ;
    margin-left: 200px;
}

.container-nav button {
    color: white;
    font-size: 15px;
    width: 15%;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    background: transparent;
    height: 56px;
}

.keywords-of_search{
    padding-top: 10px;
    color: white;
    font-weight: 400;
}

@media(max-width:1024px){
    .container-nav input {
        margin-left: -51px;
    }
    .keywords-of_search {
        margin-left: -36px;
    }
}

@media(max-width:768px){
    .container-nav {
        padding-top: 0px;
    }
    .container-nav input {
        margin-left: -65px;
    }

    .banner-search__title h1 {
        padding: 0;
    }
    .keywords-of_search {
        margin-left: -84px;
        font-size: 19px;
    }
}

@media(max-width:600px){
    .container-nav input {
        width: 100%;
        margin-left: -123px;
    }

    .keywords-of_search {
        margin-left: -145px;
        font-size: 17px;
    }
}

@media(max-width:540px){
    .keywords-of_search {
        margin-left: -161px;
        font-size: 16px;
    }
}

@media(max-width:414px){
    .container-banner {
        width: 111%;
        height: 505px;
    }
    .banner-search__title h1 {
        padding: 0;
        font-size: 51px;
    }
    .container-nav input {
        width: 111%;
        margin-left: -153px;
    }
    .container-nav button {
        width: 29%; 
    }
    .keywords-of_search {
        margin-left: -178px;
        font-size: 14px;
    }
}

@media(max-width:375px){
    .container-nav input {
        width: 133%;
        margin-left: -167px;
    }
    .keywords-of_search {
        margin-left: -178px;
        font-size: 13px;
    }
}
@media(max-width:320px){
    .container-banner {
        width: 121%;
        height: 505px;
    }
}

@media (max-width:280px) {
    .container-banner {
        width: 131%;
        height: 505px;
    }
    .banner-search__title h1 {
        padding: 0;
        font-size: 50px;
    }
    .container-nav input {
        width: 137%;
        margin-left: -167px;
    }
    .container-nav button {
        width: 48%;
    }
}